*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/test/java/com/mityaalim/ExampleUnitTest.kt
/app/src/androidTest/java/com/mityaalim/ExampleInstrumentedTest.kt
